*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    font-family: "Sora", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

html{
    overflow-x: hidden;
}

.container {
    max-width: 1280px;
    margin: 0px auto;
}

header{
    padding-top: 16px;
    background-color: rgb(21, 14, 46);
}

h1{
    color:rgb(255, 255, 255);
    font-weight: 800;
    font-style: italic;
    font-size: 40px;
}

nav{
    padding: 16px;
    background-color: rgb(45, 7, 151);
    display: none;
}

nav ul {
    display: flex;
    list-style: none;
    margin: 0px;
    padding: 0px;
}

nav ul li {
    margin-right: 16px;
    
}

nav ul li a{
    text-decoration: none;
    color: azure;
    font-weight: 200;
    font-style: italic;
}

.menu-hamburguer{
    width: 32px;
    cursor: pointer;
}

.menu-hamburguer span {
    height: 2px;
    width: 100%;
    background-color: azure;
    display: block;
    margin-bottom: 4px;
}

header > .container {
    justify-content: space-between;
    align-items: center;
    padding-bottom: 16px;
}

.container-flex{
    display: flex;
}







.destaque {
    flex-wrap: wrap;
}

#NEW h2{
    margin-top: 32px;
    margin-bottom: 8px;
    font-size: 40px;
    font-style: italic;
    color: rgb(45, 7, 151);
}

#PAYANDRIDE h2{
    margin-top: 32px;
    margin-bottom: 8px;
    font-size: 40px;
    font-style: italic;
    color: rgb(45, 7, 151);
}

.destaque img{
    max-width:350px;
    margin-bottom: 8px;
}

.produto-new h3{
    font-size: 24px;
        font-style: italic;
}

.produto-new p{
    font-weight: 200;
}

.produto-new strong{
    display: flex;
    margin: 12px 0px;
}

.produto-pay {
    margin: 12px 0px;
}

.info-produto{
    max-width:300px; 
}

.produto-new{
    margin-bottom: 16px;
}

.produto-new button{
    padding: 8px 40px;
    margin-bottom: 16px;
    font-family: "Sora", sans-serif;
    font-weight: 700;
    border: none;
    background-color:rgb(45, 7, 151);
    color: floralwhite;
    cursor: pointer;
}


.space{
    padding: 0px 16px;
}









.about{
    margin-top: 24px;
    align-items: center;
}

.about img{
    max-width: 600px;
}

.texto-sobre {
    max-width: 100%;
    margin: 0px 24px;
}

.texto-sobre h2{
    font-size: 32px;
    margin-bottom: 16px;
    font-style: italic;
}

.texto-sobre p{
    margin-bottom: 8px;
    font-weight: 400;
}