*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    font-family: "Sora", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

html{
    overflow-x: hidden;
}

.container {
    max-width: 1280px;
    margin: 0px auto;
}

header, footer{
    padding-top: 16px;
    background-color: rgb(21, 14, 46);
}

header {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
}

h1{
    color:rgb(255, 255, 255);
    font-weight: 800;
    font-style: italic;
    font-size: 40px;
}

nav{
    padding: 16px;
    background-color: rgb(45, 7, 151);
    display: none;
}

nav ul {
    display: flex;
    list-style: none;
    margin: 0px;
    padding: 0px;
}

nav ul li {
    margin-right: 16px;
    
}

nav ul li a{
    text-decoration: none;
    color: azure;
    font-weight: 200;
    font-style: italic;
}

.menu-hamburguer{
    width: 32px;
    cursor: pointer;
}

.menu-hamburguer span {
    height: 2px;
    width: 100%;
    background-color: azure;
    display: block;
    margin-bottom: 4px;
}

header > .container {
    justify-content: space-between;
    align-items: center;
    padding-bottom: 16px;
}

.container-flex{
    display: flex;
}

#sobre-loja img{
    max-width: 400px;
    margin-right: 24px;
}

#sobre-loja h2 {
    margin-bottom: 8px;
}

section{
    margin: 48px 0;
}

section h2{
    margin-bottom: 16px;
}

.lista-veiculos {
    flex-wrap: wrap;
}

.lista-veiculos h3{
    margin: 16px 0;
}

.lista-veiculos li {
    max-width: 30%;
    list-style: none;
    margin-bottom: 24px;
}

.lista-veiculos img{
    max-width: 100%;
}

.itens-centrais {
    margin: 0px 5%;
}

button{
    display: block;
    width: 100%;
    padding: 8px;
    background-color: rgb(48, 146, 23);
    color: #fff;
    border: none;
    font-size: 16px;
    font-weight: bold;
    font-style: italic;
    cursor: pointer;
    border-radius: 8px;

}

.price {
    margin: 16px 0;
    display: block;
}

.price del{
    color: #bbbbbb;
    font-size: 14px;
    margin-right: 8px;
}

form{
    max-width: 460px;
}

.campo-form{
    margin-bottom: 16px;
}

.campo-form label{
    font-weight: bold;
    display: block;
    margin-bottom: 8px;
}

.campo-form input, 
.campo-form textarea{
    display: block;
    width: 100%;
    padding: 8px;
}

.campo-form input,textarea{
    border: none;
    background-color: #e2e2e2;
    border-radius: 8px;
    
}

.campo-form textarea{
    resize: none;
    height: 160px;
}

form button{
    width: 220px;
}

footer p{
    color:azure;
}

footer ul {
    display: flex;
}

footer li {
    list-style: none;
}

footer ul li img {
    height: 32px;
    margin-left: 16px;
}

.rodape{
    align-items: center;
    justify-content: space-between;
}

footer{
    padding: 24px 0;
}


button:hover{
    background-color: rgb(68, 179, 40);
    transform: scale(105%);
    transition: ease-in-out;
    
}
